body{
    /* background-color: #FAFAFA; */
    font-family: "Comfortaa", Sans-serif;
    /* width: fit-content; */
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Barlow', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

.carousel-item {
    height: 530px;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  

.main-logo{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 14px;
  line-height: 1.42857143;
  font-family: 'Open Sans',sans-serif;
  text-align: center;
  color: #337ab7;
  box-sizing: border-box;
  border: 0;
  vertical-align: middle;
  width: 23%;
  max-width: 303px;

  position: absolute;
  z-index: 1;
  left: 40%;
}

.carousel-caption{
  bottom: 80px !important;
}

.carousel-caption h2{
  font-size: 68px;
  font-weight: 500;
  margin-bottom: 50px;

}

.venderMais{
  box-sizing: border-box;
  vertical-align: middle;
  top: 80%;
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);    margin: 0;
}


.card-icone {

  transition: 0.3s;
  padding: .5rem;
  width: 130px;
  border-radius: 20px;
  margin: 0 1.4rem;
  }
  .card-icone .container{
    padding: 0;
  }

.card-icone:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  /* padding: 0px 20px; */

}

.card-icone a{
  color: black;
}

.textos-icones{
  text-align: center;
  /* text-transform: uppercase; */
  /* font-size: 12px; */
  /* font-size: 0.8rem; */
  font-family: 'Roboto', sans-serif;}



.container-icones{
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.div-icone{
  display: flex;
  justify-content: center;
}
/* .div-icone-check{
  display: flex;
  justify-content: center;
} */
.div-icone-check{
  display: flex;
  justify-content: center;
  max-width: 80px;
  margin: 0 auto;
}

.img-icone-check-alt{
  display: flex;
  justify-content: center;
  width: 250%;
  margin: -3rem;
  
}


.img-icone{
  width: 160px;
}
.img-icone-check{
  width: 80px;
}


.modal-body img{
  width: 100%;
  height: 100%;
}

.label-nav-icon{
  visibility: hidden;
}

/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
/* ************************************************** */
@media (max-width: 600px) {
  .card-icone {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 0px;
  margin: 10px;  
  min-width: 100px;
  max-width: 120px;
  border-radius: 20px;
  }

  .card-icone:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 0px 0px;

  }

  .main-logo{
    margin-top: 110px;
    transform: scale(3);
  }
  .container{
    padding-right: 0;
    padding-left: 0;
    
  }

  .textos-icones{
    font-size: 0.75rem;
  }

  .carousel-caption h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 10px;

  }
  .img-icone{
    width: 100px;
  }
  
  .label-nav-icon{
    visibility: visible;
  }  
  
}


/* estilo referente a pagina administracaoImoveis.php */
/******************************************************/
.header-adm{
  margin-top: 50px;
  display: flex;
  align-items: center ;
}
.header-adm h1{
  color: #083b68;
  text-transform: uppercase;
  padding: 10px;
}

.header-adm div h3{
  text-align: center;
}

.header-adm div img{
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
}

.h2-adm{
  color: #083b68;
  margin : 10px
}
.container-imagem{
  display: flex;
  justify-content: center;
}

.container-imagem img{
  /* width: 50%; */
  max-height: 350px;

  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .header-adm h1{
    font-size: 30px;
    margin-top: 20px;
  }
  .container-imagem img{
    width: 90%;
    margin-bottom: 20px;

  }

  .card-servico-pagina{
    display: none;
  }
  
  .header-adm h1{
    padding: 10px;
    text-align: center;
  }
  .container{
    padding: 10px;
  }
}
ul {
  list-style: none; /* Remove default bullets */
  padding-left: 0;
}

.list-none{
  list-style: none;
}
  ul.bullet li::before {
  content: "\2022"; 
  color: #00b495;
  font-weight: bold; 
  display: inline-block; 
  width: 1em; 
  margin-left: -1em;
}

/* ul {
  list-style-image: url('img/logo-fav-icon.png');
} */

.fa-check::before {
  color: green;
}
li{
  padding: 6px;
}
/******************************************************/
/*  */
/******************************************************/
/**************inicio do novo site*********************/
/******************************************************/

.container-visita{
    background:url(img/loading.gif) center center no-repeat;
  }
  

  /* */
  .imagem-principal{
  background:url(img/corretor-nuvem.png) center center no-repeat;
  background-size: 100%;
  margin-top: 50px;
  /* padding-top: 70px; */
  width: 100%;
  min-height: 800px;
  /* max-width: 1400px; */

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;


  /* top: 50px; */
}

.texto-sobre-imagem{
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end; */
  align-self: flex-end;
  bottom: 110px;
  position: relative;  
} 
  
  
@media (min-width: 1500px) {
  .texto-sobre-imagem {
    bottom: 60px;

  }
}


.imagem-principal-mobile, .imagem-principal-mobile img{
display: none;
}


@media (max-width: 1250px) {
  .imagem-principal{
    display: none;
  }
  
  .imagem-principal-mobile{
    display: block;
    /* margin-top: 150px; */
  }

  .imagem-principal-mobile img{
    display: block;
    width: 100%;
    overflow: hidden;
    margin-left: 0;
    margin-top: 80px;

  }

  .imagem-principal-mobile div{
    padding: 0 20px;
    padding-top: 30px;
  }
}

.texto-imagem-principal{
  font-family: "Comfortaa", Sans-serif;
  margin-right: 40px;
  max-width: 360px;
  color: whitesmoke;
}

.texto-imagem-principal li{
  font-family: "roboto", Sans-serif;

}
/* Botões */
.btn-saiba-mais{
  border-radius: 25px;
  border: none;
  padding: 6px 15px;
}
.btn-saiba-mais-black{
  background-color: #333333;
  border-radius: 25px;
  border: none;
  padding: 6px 25px;
  color: whitesmoke;
  transition: all .3s;
}
.btn-saiba-mais-black:hover{
  background-color: #1e1e1e;

}
.btn-saiba-mais-green, .btn-saiba-mais-green-grande{
  background-color: #00b495;
  border-radius: 15px;
  border: none;
  padding: 6px 25px;
  color: whitesmoke;
  transition: all .4s;
}
.btn-saiba-mais-green-grande{
  padding: 1rem 4rem;
  letter-spacing: .2rem;
  font-weight: bolder;
  font-size: 1.7rem;
}

.btn-saiba-mais-green:hover,   .btn-saiba-mais-green-grande:hover{
  background-color: #08806c;
}
  


.div-crm{
  display: flex;
  margin: 2em 1em;
  justify-content: center;
}

.texto-crm{
  font-family: "Comfortaa", Sans-serif;
  font-size: larger;
  margin: 50px;
  width: 80%;
  text-align: center;
}

@media  (max-width: 900px) {
  .div-crm{
    margin: 0;
    display: block;
  }
}
.div-img-crm{
  max-width: 100%;
  min-width: 50%;
  margin: 0 auto;

}
.div-img-crm img{
  width: 100%;
  text-align: center;

}

.lista-crm{
  text-align: left;
  font-family: "Comfortaa", Sans-serif;
  margin: 35px;
  padding: 20px;

}
.texto-crm{
  font-family: "Comfortaa", Sans-serif;
  margin: 35px;
  padding: 20px;
}

.lista-crm li{
  margin: 0;
  padding: 0;
  color: #747474;
  font-weight: bold;
}


nav{
  background-color: #fafafa;
}
nav, li a {
  transition: 1s all;
}

#btnGroupDrop1{
  transition: 1s all;
  border: none;    
  background-color: transparent;
}

html:not([data-scroll='0']) nav{
  background-color: #333;
  color: white;
  padding: 20px 10px;   
}
  
html:not([data-scroll='0']) li a {
  color: whitesmoke;
}

li a{
  color:black
}

.align-text{
  text-align: center;
}

#img-logo{
  height: 43px;
  transform: 1s all;
}
html:not([data-scroll='0']) #img-logo {
  transform: scale(1.3);
}

.div-fundo-cinza{
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.div-fundo-verde{
  text-align: center;
  color: white;
  font-size: larger;
  font-weight: bold;
  font-size: 1.7rem;
  padding: 40px;
  margin: 4rem 0;
  justify-content: center;
  align-items: center;
  background-color: #00b495;
}

.div-texto-centralizado{
  text-align: center;
  font-size: larger;
  padding: 0  40px;
  max-width: 1100px;
  margin: 2rem auto;
  /* margin-top: 80px; */
  justify-content: center;
  align-items: center;
}

.div-fundo-cinza p{
  padding: 4em;
  background-color: gray;

  font-size: larger;
  font-weight: bold;
  /* max-width: 60%; */
  text-align: center;
  margin: 0;
}

#titulo-texto-cinza{
  line-height: 0em;
  padding: 0em;
}

.form-contato{
  background-color: black;
  height: auto;
  padding-bottom: 2em;
  display: flex;
}

.div-texto-formulario{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.div-texto-formulario p{
  color: white;
  font-size: 3.2rem;
  padding: 2em;
  text-justify: center;
  text-align: center;
}

.div-formulario{
  background-color: #cfcfcf;
  color: black;
  width: 25%;
  /* padding: 2em; */
  border-radius: 5px;
  margin: 6em;
}
/* .div-formulario p{
  text-align: center;
} */

.div-field{
  display: flex;
  flex-direction: column;
  margin: 1em 2em;
}

input, textarea {
  box-sizing: border-box;
  border:1px solid transparent;
  /* background-color: rgba(214, 213, 213, 0.727); */
  border-radius: 1px;
}

*:focus {
  outline: none;
  border: 1px solid lightgray;
}

/* para telas grandes */
@media  (max-width: 1150px) {

  .form-contato{
    display: block;
  }
  .div-formulario{
    width: 90%;
    margin: 0 auto;
    /* padding: 1em 0em; */
  }

  .div-texto-formulario{
    width: 100%;
  }
  .div-texto-formulario p{
    padding: 0.5em 2em;

  }
}



.rodape{
  background-color: lightgray;
  min-height: 190px;
  align-items: center;
  padding: 3em;

}

.rodape p {
  font-size: 1.4rem;
  margin: 0 100px;
}

.texto-centralizado{
  text-align: center;
}

p{
  margin: 0;
}


.div-btn-proposta{
  display: flex;
  justify-content: center;
  padding: 3em;
}


.div-social-icons{
  color: black;
  margin: 1em 3em;
}
.div-social-icons a{
  color: black;
  /* border: black solid 1px; */
  padding: .4em;
  border-radius: 25px;
  transition:all .3s;
  background-color: lightgray;
  transition: all .4s;
}

.div-social-icons a:hover{
  background-color: rgb(46, 110, 250);
}

.btn-receber-oferta{
  background-color: transparent;
  border-radius: 15px;
  transition: all .4s;
  padding: 3px 10px;
}

.btn-receber-oferta:hover{
  background-color: black;
  color: white;
}

html:not([data-scroll='0']) .btn-receber-oferta{
  background-color: white;
  color: black;
}
html:not([data-scroll='0']) .btn-receber-oferta:hover{
  background-color: black;
  color: white;
}

#navbarResponsive{
  margin-right: 3em;
}

.barra-enderecos{
  margin-right: 3em;

}

.area-depoimentos{
  /* height: 1000px; */
  text-align: center;
  padding-top: 4em;
}
.div-depoimentos{
  display: flex;
  justify-content: center;
}

.card-depoimentos{
  width: 800px;
  height: auto;
  margin: 4em;
  border-radius: 10px;
  /*  */
  -webkit-box-shadow: 0px 6px 20px 10px rgba(176,174,176,1);
  -moz-box-shadow: 0px 6px 20px 10px rgba(176,174,176,1);
  box-shadow: 0px 6px 20px 10px rgba(176,174,176,1);
}

.carousel-inner{
  height: 800px;
}
@media (max-width : 700px){
  .card-depoimentos{
  height: 1100px;
  }

  .carousel-inner {
    height: 1100px;
}
}
.depoimentos-header{
  display: flex;
  align-items: center;
}
.depoimentos-header div{
  margin: 3em;
}

.depoimentos-header p {
  align-items: center;
}

.depoimentos-header img{
  margin-left: 5em;
  margin-top: 5em;
}

@media (max-width: 600px){
  
.depoimentos-header img{
  margin-left: 2em;
  margin-top: 2em;
}
}

.depoimentos-body{
  padding: 4em;
}

.span-carrossel{
  color: black;
  font-size: 30px;
  font-weight: 900;
}



.carousel-indicators li {
  background-color: #7d7d7d;
}

.depoimentos-body li{
  padding: 0px;
}

.div-funcionalidades{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 20px;
  margin: 0 80px;

}
.div-funcionalidades-flex{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.texto-icones-check{
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  max-width: 160px;
}


.card-funcionalidade, .card-funcionalidade-locacao,.card-funcionalidade-margin {
  justify-self: center;
  margin: 1rem;
}
.card-funcionalidade-margin {
  margin: 0 2rem;
}

.card-funcionalidade-locacao{
  margin: 2rem 2rem;
}

.container-check{
  max-width: 260px;
  text-align: center;
}

@media  (max-width: 600px) {

  .div-funcionalidades{
    display: grid;
    grid-template-columns: auto;
    column-gap: 10px;
    row-gap: 20px;
  }
  
  .container-check{
    max-width: 460px;
  }
  
  .textos-icones-check{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    max-width: 460px;
    font-weight: bold;
  }
  .img-icone-check{
    width: 120px;
  }

  
  .texto-crm, 
  .div-img-crm {
    width: 90%;
  }

  .rodape{
    margin: 0;
    padding: 1rem;
  }

  .rodape p {
    font-size: 1rem;
    margin: 0 1rem;
  }
 
}

.formulario-contato{
  width: 100%;
}

@media  (max-width: 600px) {

  .formulario-contato{
    width: 80%;
    margin: auto;
  }

}

.div-imagem-fundo-contato{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 80px;
  background:url(img/fundo-contato.jpg) center center no-repeat;
  min-height: 400px;
}

.div-imagem-fundo-contato p{
  font-size: 3.1rem;
  font-weight: bold;
  align-content: center;
  text-align: center;
  color: white;
  padding: 80px;
}

@media (max-width: 500px){
  .div-imagem-fundo-contato p{
    font-size: 2.3rem;
  }
}

/*  */
/*  */
/* modal */

.input-form {
  border: none;
  padding: 0px;
  margin-bottom: 0px;
}
.input-form label {
text-transform: uppercase;
color: whitesmoke;
padding-bottom: 0px;
}

#div-promo {
  background-image: url('./uploads/baner-desktop.jpg');
  height: 510px;
  width: 760px;
  margin: 0 auto;
  padding: 7px;
  background-size: cover;

}

#form-container {
  max-width: 450px;

  margin: 0 auto;
  left: 340px;
  position: relative;
  transform: scale(0.54);
  top: -71px;
  color: white;
  padding: 0;
  margin: 0;
}

label {}

input[type=text],
input[type=email] {
  width: 100%;
  min-height: 50px;
  margin-bottom: 20px;

}

#mensagem {
  width: 400px;
  margin-bottom: 30px;

}

#btn-submit-formulario {
  width: 400px;
  height: 90px;
  text-transform: uppercase;
  font-size: x-large;
}



/* css para mobile */
@media  (max-width : 1000px) {

  /* Styles */
  #div-promo {
      background-image: url('./uploads/baner-mobile.jpg');
      height: 2585px;
      background-size: 100%;
      width: 100%;
      padding: 7px;
      /* background-size: cover; */


  }

  #form-container {
    max-width: 450px;
    margin: 0 auto;
    left: 0px;
    position: relative;
    transform: scale(1.2);
    top: 1630px;
    color: white;
  }

  #popup .fechar {
      position: relative;
  }

  #popup #content form input[type=submit] {
      width: 410px;
  }
}


  /*  */
  /*  */
  /* FIM DO CSS DO MODAL*/

.container-whatsapp{
  /* background-color: rebeccapurple; */
  position: sticky;
  float: right;

  right: 40px;
  bottom: 40px;
  width: 100px;
  height: 100px;
}

.contato-telefone-whatsapp{

}

.icone-whatsapp{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1.8em;
  background-color: #34af23;
  color: #FFF;
  border-radius: 4px;
  text-align: center;
  line-height: 53px;
  cursor: pointer;
  text-decoration: none;
  font-size: 40px;
}

.texto-destaque{
  font-size: 34px;
  text-align: center;
  font-weight: bold;
  margin: 1rem 4rem;

}

/* check-list */
/* ul.no_bullet {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li.check {
  background: url('./img/check-icon.png') no-repeat left top;
  height: 54px;
  padding-left: 44px;
  padding-top: 3px;
} */

.div-check{
    display: flex;
    flex-direction: column;
    margin: 5em 1em;
    justify-content: center;
    /* margin-top: -1rem; */
  
}
.div-check-dupla, .div-check-tripla{
  display: flex;
  margin: 5em 1em;
  justify-content: center;
  /* margin-top: -1rem; */
  
}
.div-check-tripla{
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width : 600px){
  .div-check-dupla{
    display: block;
}
}
.item-check-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
}
.item-check-list-site{
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding-bottom: 1rem;
}
.div-img-check{
  max-width: 140px;
    margin: -30px;
}

.div-img-check-dupla{
  /* max-width: 140px; */
    margin: -50px;
}
.container-iframe{
  max-width: 950px;
  margin: 2rem auto;
}

.botoes-flex{
  display: flex;
  justify-content: space-around;
}

.modal-dialog {
  max-width: 97% !important;
  margin: 0 1rem;
}

/* para telas grandes */
@media  (min-width : 1000px)  {  
  .modal-dialog {
    max-width: 800px !important;
    margin: 0 auto;
    align-items: center;

    
  }
}

#carrossel-modelos-site{
  max-height: 550px;
}

#area-carrosel-modelos{
  max-height: 650px;
}
@media (max-width : 500px){
  #carrossel-modelos-site,
   #area-carrosel-modelos{
    max-height: 360px;
  }
  
}

.texto-check-site{
  align-self: center;
}

.text-align-left{
  text-align: initial;
}

.numero-centralizado-verde{
  text-align: center;
    color: #00b495;
    font-weight: bold;
}

.tx-cinza-bold{
  color: rgb(89, 89, 89);
  font-weight: bold;
}

.div-img-mql{
  max-width: 600px;
}

.div-mql-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
}

.text-align-left{
  text-align: left;
  font-size: .7rem;
  margin-left: 1rem;
}
.text-align-center{
  text-align: center;
  font-size: .7rem;
  margin-left: 1rem;
}

.cabecalho-formulario{
  background-color: rgb(123, 123, 123);
  padding: 1rem;
  margin-bottom: 1rem;
  color: white;
}
.cabecalho-formulario h3{
  margin: 0;
}

.subtitulo-formulario{
  font-weight: 800;
  margin: 1rem;
  margin-bottom: -1rem;
}

.spam-obrigatorio{
  height: 50px;color: red;background-color: white;padding: .6rem 1rem;
}

.btn-enviar-formulario{
  margin: 1rem;
  width: 14rem;
  border-radius: 15px;
  background-color: #F97824;
  border: 1px solid darkgray;
  transition: all .3s;
  color: white;
}

.btn-enviar-formulario:hover{
  background-color: #d5a412;

}

.div-radio-contato{
  margin: .5rem;
}