body{
    /* background-color: #FAFAFA; */
    font-family: "Comfortaa", Sans-serif;
    width: fit-content;


}

.carousel-item {
    height: 530px;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  

  .main-logo{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    color: #337ab7;
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
    width: 23%;
    max-width: 303px;

    position: absolute;
    z-index: 1;
    left: 40%;
  }

  .carousel-caption{
    bottom: 80px !important;
  }

  .carousel-caption h2{
    font-size: 68px;
    font-weight: 500;
    margin-bottom: 50px;

  }

  .venderMais{
    box-sizing: border-box;
    vertical-align: middle;
    top: 80%;
    /* left: 33%; */
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);    margin: 0;
  }


  .card-icone {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    /* padding: 2px 16px; */

    /* min-width: 220px;
    max-width: 270px; */
    width: 125px;
    border-radius: 20px;
    }
    .card-icone .container{
      padding: 0;
    }
  
  /* On mouse-over, add a deeper shadow */
  .card-icone:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    /* padding: 0px 20px; */

  }

  .card-icone a{
    color: black;
  }
  


  .textos-icones{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
  }

  .container-icones{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .div-icone{

    display: flex;
    justify-content: center;
  }


  .img-icone{
    width: 160px;
  }


  .modal-body img{
    width: 100%;
  }

  .label-nav-icon{
    visibility: hidden;
  }

  /* ************************************************** */
  /* ************************************************** */
  /* ************************************************** */
  /* ************************************************** */
  @media only screen and (max-width: 600px) {
    .card-icone {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      padding: 2px 0px;
      margin: 10px;  
      min-width: 100px;
      max-width: 120px;
      border-radius: 20px;
      }

      .card-icone:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        padding: 0px 0px;
    
      }

      .main-logo{
        margin-top: 110px;
        transform: scale(3);
      }
      .container{
        padding-right: 0;
        padding-left: 0;
        
      }

      .textos-icones{
        font-size: 11px;
      }

      .carousel-caption h2{
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 10px;

      }
      .img-icone{
        width: 100px;
      }
      
      .label-nav-icon{
        visibility: visible;
      }  
    
  }


  /* estilo referente a pagina administracaoImoveis.php */
  /******************************************************/
  .header-adm{
    margin-top: 50px;
    display: flex;
    align-items: center ;
  }
  .header-adm h1{
    color: #083b68;
    text-transform: uppercase;
    padding: 10px;
  }

  .header-adm div h3{
    text-align: center;
  }
  
  .header-adm div img{
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
  }
  
  .h2-adm{
    color: #083b68;
    margin : 10px
  }
  .container-imagem{
    display: flex;
    justify-content: center;
  }
  
  .container-imagem img{
    /* width: 50%; */
    max-height: 350px;

    margin-bottom: 40px;
  }
  
  @media only screen and (max-width: 600px) {
    .header-adm h1{
      font-size: 30px;
      margin-top: 20px;
    }
    .container-imagem img{
      width: 90%;
      margin-bottom: 20px;

    }

    .card-servico-pagina{
      display: none;
    }
    
    .header-adm h1{
      padding: 10px;
      text-align: center;
    }
    .container{
      padding: 10px;
    }
  }

  ul{
    list-style: none;
  }
  /* ul {
    list-style-image: url('img/logo-fav-icon.png');
  } */
  
.fa-check::before {
    color: green;
  }
  li{
    padding: 6px;
  }
  /******************************************************/
  /*  */
  /******************************************************/
  /**************inicio do novo site*********************/
  /******************************************************/

  .container-visita{
      background:url(img/loading.gif) center center no-repeat;
    }
    

    /* */
    .imagem-principal{
    background:url(img/corretor-nuvem.png) center center no-repeat;
    background-size: 100%;
    margin-top: 50px;
    /* padding-top: 70px; */
    width: 100%;
    height: 700px;
    /* max-width: 1400px; */

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;


    /* top: 50px; */
  }
  
  .texto-sobre-imagem{
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end; */
    align-self: flex-end;
    bottom: 110px;
    position: relative;  
  } 
    
    
  @media only screen and (min-width: 1500px) {
    .texto-sobre-imagem {
      bottom: 60px;

    }
  }


  .imagem-principal-mobile, .imagem-principal-mobile img{
  display: none;
  }

  
  @media only screen and (max-width: 1150px) {
    .imagem-principal{
      display: none;
    }
    
    .imagem-principal-mobile{
      display: block;
      margin-top: 150px;
    }
    .imagem-principal-mobile img{
      display: block;

      width: 100%;
      /* transform: scale(1.8); */
      overflow: hidden;
      top: 30px;
      margin: 50px;
      margin-left: 0;
      margin-bottom: 70px;
    }
    .imagem-principal-mobile div{
      padding: 0 20px;
      padding-top: 30px;
    }
  }

  .texto-imagem-principal{
    font-family: "Comfortaa", Sans-serif;
    margin-right: 40px;
    max-width: 360px;
    color: whitesmoke;
  }

  .texto-imagem-principal li{
    font-family: "roboto", Sans-serif;

  }

  .btn-saiba-mais{
    border-radius: 25px;
    border: none;
    padding: 6px 15px;
  }
  .btn-saiba-mais-black{
    background-color: #333333;
    border-radius: 25px;
    border: none;
    padding: 6px 25px;
    color: whitesmoke;
  }
  


  .div-crm{
    display: flex;
    margin: 5em 1em;

  }
  @media only screen and (max-width: 900px) {
    .div-crm{
      margin: 0;
      display: block;
    }
  }
  .div-img-crm{
    max-width: 80%;
  }
  .div-img-crm img{
    width: 100%;
  }

  .lista-crm{
    font-family: "Comfortaa", Sans-serif;
    margin: 35px;
    padding: 20px;

  }
  .lista-crm li{
    margin: 0;
    padding: 0;
    color: #747474;
    font-weight: bold;
  }
nav{
  background-color: #fafafa;
}
  nav, li a {
    transition: 1s all;
  }
  
  #btnGroupDrop1{
    transition: 1s all;
    border: none;    
    background-color: transparent;
  }

  html:not([data-scroll='0']) nav{
    background-color: #333;
    color: white;
    padding: 20px 10px;   
  }
    
  html:not([data-scroll='0']) li a {
    color: whitesmoke;
  }
  
  li a{
    color:black
  }
  
  .align-text{
    text-align: center;
  }
  
  #img-logo{
    height: 43px;
    transform: 1s all;
  }
  html:not([data-scroll='0']) #img-logo {
    transform: scale(1.3);
  }

  .div-fundo-cinza{
    /* height: 120px;
    background-color: gray;
    margin: 60px 0px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }

  .div-fundo-cinza{
    background-color: gray;
  }
  .div-fundo-cinza p{
    padding: 4em;
    background-color: gray;

    font-size: larger;
    font-weight: bold;
    /* max-width: 60%; */
    text-align: center;
    margin: 0;
  }

  #titulo-texto-cinza{
    line-height: 0em;
    padding: 0em;
  }

  .form-contato{
    background-color: black;
    height: auto;
    padding-bottom: 2em;
    display: flex;
  }


  
  .div-texto-formulario{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .div-texto-formulario p{
    color: white;
    font-size: 3.2em;
    padding: 2em;
    text-justify: center;
    text-align: center;
  }
  
  .div-formulario{
    background-color: white;
    color: black;
    width: 25%;
    padding: 2em;
    border-radius: 25px;
    margin: 6em;
  }
  .div-formulario p{
    text-align: center;
  }

  .div-field{
    display: flex;
    flex-direction: column;
    margin: 1em 2em;
  }

  input, textarea {
    box-sizing: border-box;
    border:1px solid transparent;
    background-color: rgba(214, 213, 213, 0.727);
    border-radius: 5px;
    
  }


  *:focus {
    outline: none;
    border: 1px solid lightgray;

}


@media only screen and (max-width: 1150px) {

  .form-contato{
    display: block;
  }
  .div-formulario{
    width: 96%;
    margin: 1em;
    padding: 1em 0em;
  }

  .div-texto-formulario{
    width: 100%;
  }
  .div-texto-formulario p{
    padding: 0.5em 2em;

  }
}



.rodape{
  background-color: lightgray;
  height: 190px;
  align-items: center;
  padding-top: 3em;

}

.texto-centralizado{
  text-align: center;
}

p{
  margin: 0;
}


.div-btn-proposta{
  display: flex;
  justify-content: center;
  padding: 3em;
}


.div-social-icons{
  color: black;
  margin: 1em 3em;
}
.div-social-icons a{
  color: black;
  /* border: black solid 1px; */
  padding: .4em;
  border-radius: 25px;
  transition:all .3s;
  background-color: lightgray;
  transition: all .4s;
}

.div-social-icons a:hover{
  background-color: rgb(46, 110, 250);
}

html:not([data-scroll='0']) .div-social-icons a{
  /* color: whitesmoke; */
  /* border: 1px solid whitesmoke; */
}

.btn-receber-oferta{
  background-color: transparent;
  border-radius: 15px;
  transition: all .4s;
  padding: 3px 10px;
}

.btn-receber-oferta:hover{
  background-color: black;
  color: white;
}

html:not([data-scroll='0']) .btn-receber-oferta{
  background-color: white;
  color: black;
}
html:not([data-scroll='0']) .btn-receber-oferta:hover{
  background-color: black;
  color: white;
}

#navbarResponsive{
  margin-right: 3em;
}

.barra-enderecos{
  margin-right: 3em;

}

.area-depoimentos{
  height: 1000px;
  text-align: center;
  padding-top: 4em;
}
.div-depoimentos{
  display: flex;
  justify-content: center;
}

.card-depoimentos{
  width: 800px;
  height: auto;
  margin: 4em;
  border-radius: 10px;
  /*  */
  -webkit-box-shadow: 0px 6px 20px 10px rgba(176,174,176,1);
  -moz-box-shadow: 0px 6px 20px 10px rgba(176,174,176,1);
  box-shadow: 0px 6px 20px 10px rgba(176,174,176,1);
}
.depoimentos-header{
  display: flex;
  align-items: center;
}
.depoimentos-header div{
  margin: 3em;
}

.depoimentos-header p {
  align-items: center;
}

.depoimentos-header img{
  margin-left: 5em;
  margin-top: 5em;
}

.depoimentos-body{
  padding: 4em;
}

.span-carrossel{
  color: black;
  font-size: 30px;
  font-weight: 900;
}

.carousel-inner{
  height: 800px;
}

.carousel-indicators li {
  background-color: #7d7d7d;
}

.depoimentos-body li{
  padding: 0px;
}